@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
}

.header-main-page {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20%;
  gap: 1px 1px;
  grid-template-areas: "left-side right-side";
}

.left-side {
  grid-area: left-side;
  text-align: left;
}

.right-side {
  grid-area: right-side;
  text-align: right;
}

.title {
  font-size: 2.5rem;
  color: #222222;
}

.page-content-login {
  text-align: center;
  color: #222222;
}

.page-content-loggedin {
  text-align: center;
  color: #222222;
}

#loginButton {
  font-family: "DM Sans", sans-serif;
  color: #222222;
}

* {
  background-color: #e0e0e0;
  font-family: "DM Sans", sans-serif;
}

.codePoint {
  padding: 1rem;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: none;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

#filename {
  padding: 1rem;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: none;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
