@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap");

body {
  margin: 0;
}

a {
  color: #222;
  text-decoration: none;
}

.frontpage-desc {
  text-align: center;
  font-family: Roboto Mono;
  background-color: #c2c2c2;
}

#videosmall {
  width: 100%;
  border-radius: 10px;
}

@media only screen and (max-width: 400px) {
  #desc-title {
    font-size: 1.5rem;
  }
  #desc-desc {
    font-size: 0.75rem;
  }

  #movie-title {
    font-size: 1rem;
  }
  #movie-desc {
    font-size: 0.75rem;
    color: #777;
  }

  #all-movies {
    font-size: 1rem;
  }

  .frontpage-desc {
    padding: 1rem;
  }
}

@media only screen and (min-width: 400px) {
  #desc-title {
    font-size: 2rem;
  }
  #desc-desc {
    font-size: 1rem;
  }

  #movie-title {
    font-size: 2rem;
  }
  #movie-desc {
    font-size: 1.25rem;
    color: #777;
  }
  #all-movies {
    font-size: 2rem;
  }

  .frontpage-desc {
    padding: 3rem;
  }
}

.frontpage-last {
  text-align: center;
  font-family: Roboto Mono;
  padding: 5rem;
}
